---
import { Box, Flex, Link, Text } from "@radix-ui/themes";
import { MDXDivider } from "../../client/MDX/mdx-components/ui/MDXDivider";

export type Props = {
  ogImageUrl: string;
};

const links: Record<string, Record<string, string>> = {
  Community: {
    Discord: "https://farirpgs.com/discord",
    Bluesky: "https://farirpgs.com/bluesky",
    Threads: "https://farirpgs.com/threads",
    GitHub: "https://github.com/farirpgs",
  },
  Miscellaneous: {
    Contact: "https://farirpgs.com/contact",
  },
};

if (import.meta.env.DEV) {
  links["Debug"] = {
    "OG Image": Astro.props.ogImageUrl,
  };
}
---

<Box className="my-[10rem]">
  <MDXDivider />
</Box>
<Flex gap={"8"} align={"start"} className="justify-evenly">
  {
    Object.entries(links).map(([title, links]) => (
      <Flex align="start" gap={"2"} direction="column">
        <Text className="font-bold">{title}</Text>
        {Object.entries(links).map(([title, linkUrl]) => (
          <Text>
            <Link href={linkUrl}>{title}</Link>
          </Text>
        ))}
      </Flex>
    ))
  }
</Flex>

<Flex align={"center"} justify={"center"} className="my-[5rem]" gap="6">
  <a href="https://www.netlify.com" target="_blank">
    <img
      src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg"
      alt="Deploys by Netlify"
    />
  </a>
  <span>
    This site is powered by
    <Link href="https://www.netlify.com" target="_blank">Netlify</Link>
  </span>
</Flex>
