---
import { BookmarkFilledIcon } from "@radix-ui/react-icons";
import { Button, Flex, Grid } from "@radix-ui/themes";
---

<Grid
  justify={"between"}
  align={"center"}
  columns="3"
  className="mb-24 mt-9 rounded-[--radius-2] border-b border-l border-r border-t border-[--accent-4] bg-[#0D0F11] px-6 py-6 print:hidden"
  style={{
    background:
      "linear-gradient(137deg,rgba(17,18,20,.75) 4.87%,rgba(12,13,15,.9) 75.88%)",
    boxShadow: "inset 0 1px 1px 0 hsla(0,0%,100%,.15)",
    backdropFilter: "blur(5px)",
  }}
>
  <Flex justify={"start"}>
    <a href="/">
      <Button
        radius="full"
        variant="ghost"
        size={"4"}
        color="gray"
        highContrast
        className="items flex cursor-pointer"
      >
        <BookmarkFilledIcon className="h-[24px] w-[24px]" />
        <span class="font-bold">Keeper</span>
      </Button>
    </a>
  </Flex>
  <Flex gap="2" justify="center">
    <a href="/games">
      <Button
        radius="full"
        color="gray"
        highContrast
        variant="ghost"
        size={"4"}
        className="cursor-pointer"
      >
        My Games
      </Button>
    </a>
  </Flex>
  <Flex justify={"end"}>
    <a href="/docs">
      <Button
        radius="full"
        variant="ghost"
        size={"4"}
        className="cursor-pointer"
      >
        Docs
      </Button>
    </a>
  </Flex>
</Grid>
