---
import { BookmarkFilledIcon } from "@radix-ui/react-icons";
import { Box, Button, Flex, Grid, VisuallyHidden } from "@radix-ui/themes";
import { SquareLibrary } from "lucide-react";
import { AppUrl } from "../../../domains/app-url/AppUrl";
import { DiceRollerButton } from "../../client/DiceRoller/DiceRoller";
import { getSurfaceStyle } from "../../client/Surface/getSurfaceStyle";
import Patreon from "./Patreon.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<Grid
  justify={"between"}
  align={"center"}
  columns="3"
  className="mb-9 mt-9 rounded-[--radius-2] border-b border-l border-r border-t border-[--accent-4] px-6 py-6 print:hidden"
  style={{
    ...getSurfaceStyle(),
  }}
>
  <Flex justify={"start"}>
    <a href={AppUrl.home()}>
      <Button
        highContrast
        color="gray"
        radius="full"
        size="4"
        variant="ghost"
        className="cursor-pointer"
      >
        <BookmarkFilledIcon className="h-[24px] w-[24px]" />
        <span class="hidden font-bold sm:inline-block">Keeper</span>
      </Button>
    </a>
  </Flex>
  <Flex gap="4" justify="center">
    <a href={AppUrl.campaigns()}>
      <Button
        radius="full"
        size="3"
        variant="outline"
        className="cursor-pointer"
      >
        <SquareLibrary />

        <span class="hidden lg:inline-block">My Campaigns</span>
        <VisuallyHidden> My Campaigns </VisuallyHidden>
      </Button>
    </a>
  </Flex>
  <Flex justify={"end"} gap="2" align={"center"}>
    {
      false && (
        <Box className="hidden sm:inline-block">
          <DiceRollerButton client:idle />
        </Box>
      )
    }
    <a href={AppUrl.docs()}>
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 hidden cursor-pointer md:inline-block"
      >
        Docs
      </Button>
    </a>

    <a href={AppUrl.patreon()} target="_blank">
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 cursor-pointer"
      >
        <Patreon />
        <span class="hidden md:inline-block"> Become a member </span>
      </Button>
    </a>
    {false && <ThemeToggle />}
  </Flex>
</Grid>
