---
import { MagnifyingGlassIcon } from "@radix-ui/react-icons";
import {
  Box,
  Button,
  Flex,
  Grid,
  Link,
  VisuallyHidden,
} from "@radix-ui/themes";
import { SquareLibrary } from "lucide-react";
import { AppUrl } from "../../../domains/app-url/AppUrl";
import { DiceRollerButton } from "../../client/DiceRoller/DiceRoller";
import { getSurfaceStyle } from "../../client/Surface/getSurfaceStyle";
import Patreon from "./Patreon.astro";
import { StoriedNameLogo } from "./Storied";
import ThemeToggle from "./ThemeToggle.astro";

const fontFamily =
  "-apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'";
---

<Grid
  justify={"between"}
  align={"center"}
  columns="3"
  className="my-9 items-center rounded-[--radius-2] border-b border-l border-r border-t border-[--accent-4] px-6 py-5 initial:my-6 initial:mb-[3rem] print:hidden"
  style={{
    ...getSurfaceStyle(),
  }}
>
  <Flex justify={"start"}>
    <Link href={AppUrl.home()} highContrast>
      <StoriedNameLogo className="h-[1.25rem] fill-[currentColor]" />
    </Link>
  </Flex>
  <Flex gap="4" justify="center">
    <a href={AppUrl.campaigns()}>
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 cursor-pointer"
      >
        <SquareLibrary />

        <span
          class="hidden lg:inline-block"
          style={{
            fontFamily,
          }}>My Campaigns</span
        >
        <VisuallyHidden> My Campaigns </VisuallyHidden>
      </Button>
    </a>
  </Flex>
  <Flex justify={"end"} gap="2" align={"center"}>
    {
      false && (
        <Box className="hidden sm:inline-block">
          <DiceRollerButton client:idle />
        </Box>
      )
    }
    <a href={AppUrl.docs()}>
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 hidden cursor-pointer md:inline-block"
        style={{
          fontFamily,
        }}
      >
        Docs
      </Button>
    </a>

    <a href={AppUrl.search({})} aria-label="Search">
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 cursor-pointer"
      >
        <MagnifyingGlassIcon className="h-[24px] w-[24px]" />
      </Button>
    </a>
    <a href={AppUrl.patreon()} target="_blank">
      <Button
        radius="full"
        size="3"
        variant="ghost"
        className="m-0 cursor-pointer"
      >
        <Patreon />
        <span
          class="hidden lg:inline-block"
          style={{
            fontFamily,
          }}>Become a member</span
        >
      </Button>
    </a>
    {false && <ThemeToggle />}
  </Flex>
</Grid>
