.icon.icon-link {
  color: #000;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: color 0.3s;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  top: calc(50% - 0.75rem);
  display: inline-block;
}

.sun {
  display: block;
}
.moon {
  display: none;
}
.dark .sun {
  display: none;
}
.dark .moon {
  display: block;
}
